<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resultado del examen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngIf="this.sinDatos == true">
      <ion-label>NO HAY DATOS</ion-label>
    </ion-item>
    <!-- Listado de Preguntas -->
    <ion-item *ngFor="let item of resultados">
      <!-- pregunta correcta -->
      <ion-card color="success" *ngIf="item.usada == true">
        <ion-card-header>
          <ion-card-title>{{item.question}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item
              *ngFor="let respuesta of item.answers">
                <ion-item style="color: green; font-weight: bold;" *ngIf = "respuesta.result == true">
                  {{respuesta.label}}
                </ion-item>
                <ion-item *ngIf = "respuesta.result == false">
                  {{respuesta.label}}
                </ion-item> 
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <!-- pregunta INcorrecta -->
      <ion-card color="danger" *ngIf="item.usada == false">
        <ion-card-header>
          <ion-card-title>{{item.question}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item
              *ngFor="let respuesta of item.answers">
                <ion-item style="color: green; font-weight: bold;" *ngIf = "respuesta.result == true">
                  {{respuesta.label}}
                </ion-item>
                <ion-item *ngIf = "respuesta.result == false">
                  {{respuesta.label}}
                </ion-item> 
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" (click)="resetExamen()">Home</ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
